/* App styles */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

.main-container {
  flex: 1;
}

.loading-text {
  text-align: center;
  font-size: 3.2rem;
  color: var(--primary-color);
  margin: 2rem 0;
}

@media (min-width: 1600px) {
  .App {
    max-width: 160rem;
  }
}
