:root {
  --primary-color: #6d2be7;
  --secondary-color: #212529;
  --background-color: #fff;
  --text-color: #212529;
}

* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #212529;
}

/* App styles */
.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Header */

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: var(--primary-color);
}

.search-input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-button {
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 16px;
  cursor: pointer;
}
