:root {
  --primary-color: #6d2be7;
  --secondary-color: #bad0e5;
  --background-color: #fff;
  --text-color: #212529;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #212529;
}

/* App styles */
.App {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Header */

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: var(--primary-color);
  text-align: center;
  background-color: var(--secondary-color);
  padding: 1rem;
}

.search-input {
  max-width: 30rem;
  padding: 1rem;
  border-radius: 1rem;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-button {
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1.6rem;
  cursor: pointer;
}

/* Main */

.movie-list {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  cursor: pointer;
  gap: 1rem;
  text-align: center;
}

.movie-year {
  font-size: 1.6rem;
}
