:root {
  --primary-color: #6d2be7;
  --secondary-color: #d3f2f1;
  --background-color: #fff;
  --text-color: #212529;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #212529;
}
